@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@layer utilities {
    .error{
      height: 500px;
      width: 1200px;
    }
    .gFont{
      font-family: 'Cedarville Cursive', cursive;
    }
    
  }

 