@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');

@layer utilities {
    .error{
      height: 500px;
      width: 1200px;
    }
    .gFont{
      font-family: 'Monsieur La Doulaise', cursive;
    }
    .gFont2{
      font-family: 'Cantata One', serif;
    }
    .bannerImg{
      height: 550px;
    }
    .height0{
      height: 588px;
    }
    .height1{
      height: 300px;
    }
    
  }

 